<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>
<body>
    <div class="container">
        <section>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">
             <img src="<%=data.profile_pic%>" width="30" height="30" alt="" class="rounded-circle"> 
            </a>          
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                 <a class="nav-link"><%=data.first_name%> <%=data.last_name%><span class="sr-only">(current)</span></a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <a href="/logout" class="btn btn-outline-primary my-2 my-sm-0" >Đăng Xuất</a>
              </form>
            </div>
        </nav>
        </section>
        <hr/>
        <section>
        <div class="clearfix">
            <h5 class="float-left">Thẻ Đã Tạo</h5> 
            <button  class="float-right btn btn-outline-primary btn-sm">Chỉnh Sửa</button>
        </div>
        <div class="row">
            <h6 class="col-sm-3">Tên</h6>
            <h6 class="col-sm-9">Mô tả</h6>
            <% listCreate.forEach(element =>{%>
                <p class="col-sm-3"><%=element.name%></p>
                <p class="col-sm-9"><%if (element.describle) {%> <%=element.describle%> <%}%></p>
                <%})%>
            
        </div>
        </section>
        <hr/>
        <section>
        <div class="clearfix">
                <h5 class="float-left">Theo Dõi</h5> 
                <button  class="float-right btn btn-outline-primary btn-sm">Chỉnh Sửa</button>
        </div>
        
        <div class="row">
                <h6 class="col-sm-3">Tên</h6>
                <h6 class="col-sm-9">Mô tả</h6>
    
                <% listFollow.forEach(element =>{%>
                    <p class="col-sm-3"><%=element.name%></p>
                    <p class="col-sm-9"><%if (element.describle) {%> <%=element.describle%> <%}%></p>
                <%})%>
                
            </div>
        </section>
        <hr/>
        <section>
        <h5>Các tin nhắn đã phát tán</h5>   
        <div class="row">
                <h6 class="col-sm-3">Tên</h6>
                <h6 class="col-sm-7">Nội dung</h6>
                <h6 class="col-sm-2">Đã xem</h6>

                <% listBroadcast.forEach(element =>{%>
                    <p class="col-sm-3"><%=element.name%></p>
                    <p class="col-sm-7"><%=element.content%></p>
                    <p class="col-sm-2"><%=element.seen%></p>                
                <%})%>
            </div>               
        </section>
    </div>
</body>
<footer>
    <% include ../partials/footer %>
</footer>
</html>