<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>
<body>
    <div class="container">
        <% include ../partials/nav.ejs %>
        <hr/>
        <section>
        <div class="clearfix">
            <h5 class="float-left">Thẻ Đã Tạo</h5> 
            <button  class="float-right btn btn-outline-primary btn-sm">Chỉnh Sửa</button>
        </div>
        <div class="row">
            <h6 class="col-sm-3">Tên</h6>
            <h6 class="col-sm-9">Mô tả</h6>
            <% listCreate.forEach(element =>{%>
                <p class="col-sm-3"><%=element.name%></p>
                <p class="col-sm-9"><%if (element.describle) {%> <%=element.describle%> <%}%></p>
                <%})%>
            
        </div>
        </section>
        <hr/>
        <section>
        <div class="clearfix">
                <h5 class="float-left">Theo Dõi</h5> 
                <button  class="float-right btn btn-outline-primary btn-sm">Chỉnh Sửa</button>
        </div>
        
        <div class="row">
                <h6 class="col-sm-3">Tên</h6>
                <h6 class="col-sm-9">Mô tả</h6>
    
                <% listFollow.forEach(element =>{%>
                    <p class="col-sm-3"><%=element.name%></p>
                    <p class="col-sm-9"><%if (element.describle) {%> <%=element.describle%> <%}%></p>
                <%})%>
                
            </div>
        </section>
        <hr/>
        <section>
        <h5>Các tin nhắn đã phát tán</h5>   
        <div class="row">
                <h6 class="col-sm-3">Hashtag</h6>
                <h6 class="col-sm-7">Nội dung</h6>
                <h6 class="col-sm-2">Đã xem</h6>

                <% listBroadcast.forEach(element =>{%>
                    <p class="col-sm-3"><%=element.Hashtag%></p>
                    <p class="col-sm-7"><%=element.Content%></p>
                    <p class="col-sm-2"><%=element.Seen%></p>                
                <%})%>
            </div>               
        </section>
    </div>
</body>
<footer>
    <% include ../partials/footer %>
</footer>
</html>